<div class="padding" ng-controller="detailCtrl">

  <super-navbar>
    <super-navbar-title>
      Bathroom Details
    </super-navbar-title>
  </super-navbar>

  <h3>Bathroom Details</h3>

  <div ng-repeat="(key, value) in sanitizedPayload">
    <b>{{key}}:</b> {{value}}
  </div>

  <div class="container">
    <label class="item item-input" id="review">
      <input type="text" ng-model="reviewtext">
    </label>

    <br>

    <div class="button-bar">
      <a class="button super-star" ng-click="giveRating(1)"> 1 </a>
      <a class="button super-star" ng-click="giveRating(2)"> 2 </a>
      <a class="button super-star" ng-click="giveRating(3)"> 3 </a>
      <a class="button super-star" ng-click="giveRating(4)"> 4 </a>
      <a class="button super-star" ng-click="giveRating(5)"> 5 </a>
    </div>
    <br>

    Rating: {{rating}}

    <br><br>
    <button class="button button-big" ng-click="giveReviews()">
      Submit Review
    </button>
    <br>
    {{submitInfo}}

  </div>

  </div>
</div>
