<style type="text/css">

.tab li{ margin-left: 40px; }

</style>
<div class="padding" ng-controller="detailCtrl">

  <super-navbar>
    <super-navbar-title>
      Bathroom Details
    </super-navbar-title>
  </super-navbar>

  <h3>Location: {{sanitizedPayload.room}}</h3>

  <div>Building: {{sanitizedPayload.bldg}} </div>
  <div>Gender: {{sanitizedPayload.gender}} </div>
  <ul class="tab">Facilities:
    <li >Drying Options: {{sanitizedPayload.dryingOptions}}
    <li>Number for The Handicap: {{sanitizedPayload.numHandicap}}
    <li>Number of Chemical Showers: {{sanitizedPayload.numChemShowers}}
    <li>Number of Sinks: {{sanitizedPayload.numSinks}}
    <li>Number of Stalls: {{sanitizedPayload.numStalls}}
    <li>Number of Urinals: {{sanitizedPayload.numUrinals}}
    <li>Number of Baby Changing Stations: {{sanitizedPayload.numStations}}
    
  </ul>
  <br>

  <div class="container">
    <a class="button" ng-click="getReviews()">Reviews</a>

    <p ng-repeat="rv in reviews">
      {{rv.rating}} | {{rv.review.split("%20").join(" ")}}
    </p>
    <label class="item item-input" id="review">
      <input type="text" ng-model="reviewtext">
    </label>
    <br>

    <div class="button-bar">
      <a class="button super-star" ng-click="giveRating(1)"> 1 </a>
      <a class="button super-star" ng-click="giveRating(2)"> 2 </a>
      <a class="button super-star" ng-click="giveRating(3)"> 3 </a>
      <a class="button super-star" ng-click="giveRating(4)"> 4 </a>
      <a class="button super-star" ng-click="giveRating(5)"> 5 </a>
    </div>
    <br>

    Rating: {{rating}}

    <br><br>
    <button class="button button-big" ng-click="giveReviews()">
      Submit Review
    </button>
    <br>
    {{submitInfo}}

  </div>

  </div>
</div>
