<link rel='stylesheet' type='text/css' href='css/getting-started.css'>

<super-navbar>
  <super-navbar-title>
    PottyPointr
  </super-navbar-title>
</super-navbar>
      
<div ng-controller="GettingStartedController">
  <div id="googleMap"></div>
  <ul class="list">
    
    <li class="item item-toggle">
      Male
      <label class="toggle toggle-assertive">
        <input type="checkbox" ng-model="config.male">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </li>

    <li class="item item-toggle">
      Female
      <label class="toggle toggle-assertive">
        <input type="checkbox" ng-model="config.female">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </li>

  </ul>

</div>
