<super-navbar>
  <super-navbar-title>
    PottyPointr
  </super-navbar-title>
</super-navbar>

<div ng-controller="mainCtrl">
  <div id="googleMap"></div>
  <ul class="list">

    <li class="item item-toggle">
      Male
      <label class="toggle toggle-assertive">
        <input type="checkbox" ng-model="config.male">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </li>

    <li class="item item-toggle">
      Female
      <label class="toggle toggle-assertive">
        <input type="checkbox" ng-model="config.female">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </li>

    <label class="item item-input item-select">
      <div class="input-label">
        Floor Number
      </div>
      <select ng-model="config.floornum" convert-to-number>
        <option value="0">G</option>
        <option value ="1" selected>1</option>
        <option value ="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option)
      </select>
    </label>

  </ul>

</div>
